h1, nav {
    text-align: center;
}

span {
    display: block;
    padding: 10px;
    text-align: center;
}

.campus-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.campus-container > div {
    display: flex;
    margin: 10px;
    /*padding: 25px;*/
    border: 1px inset slategray;
    text-align: center;
}

.campus-container > Link {
    padding: 20px;
}

.delete-button {
    align-self: flex-end;
    width: fit-content;
}