* {
    padding: 0;
    margin: 0;
  }
  
body {
    font-family: Arial, Tahoma, Serif;
    background-color: #f4f1de;
}

nav {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: #81b294;
    color: white;
  }

  
nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
}

.Campuses {
    text-align: center;
}